* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Verdana', sans-serif; 
}

body {
  font-family: 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
  background: #c5f008;
}

.container {
  max-width: 800px;
  margin: auto;
  background: rgb(239, 222, 222);
  padding: 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url('your-avatar.jpg'); /* Замените 'your-avatar.jpg' на путь к вашему изображению */
  background-size: cover;
  margin: auto;
}

h1, h2, h3, h4, h5, h6, {
  background: #5ab554;
  color: white; 
  margin-bottom: 0.5em; 
  text-align: center;
}

.section {
  margin-bottom: 20px;
}

.section-title {
  background: #5ab554;
  color: white;
  padding: 10px;
  text-align: center;
}

.section-content {
  padding: 10px;
}

.container footer-container {
  text-align: center;
}